{% extends 'layout.html' %}

{% block title %} Home page {%endblock%}

{%block content%}


<div id="cont">
    <h3> O projekcie</h3></br>		
	<p>Badania sytuacji epidemiologicznej w Wuhan pozwoliły naukowcom stworzyć model matematyczny opisujący  przepieg rozprzestrzeniania się koronawirusa ze szczególnym uwzględnieniem tzw. superroznosicieli wirusa (ang. super-spreaders). </p>
			Model matematyczny dzieli społeczeństwo na 5 podgrup: osoby zdrowe, osoby mające bezpośredni kontakt z zarażonymi, osoby hospitalizowane, superroznosicieli oraz osoby zakażające.</p>
			Pod uwagę bierze także współczynniki takie jak np. zaraźliwość u osób bezpośrednio narażonych na kontakt z wirusem.
			   
	<p><a href="https://www.sciencedirect.com/science/article/pii/S0960077920302460">Link do artykułu</a><p>
	</p>W ramach zajęć Podstawy Automatyki na Wydziale Informatyki i Telekomunikacji Politechniki Poznańskiej stworzyliśmy model układu automatycznej regulacji, który zakłada, że posiadamy możliwość regulacji współczynnika reprodukcji wirusa.</p>
	<p>Skład grupy:<br>Alicja Miłoszewska,<br>Michał Łopatka,<br>Damian Rzepka<br></p>
   
</div>


 <div class="sidebar">
    <img src="/static/img/wirus.gif" height=580px  />
</div>   


{%endblock%}